<div class="card">
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black ie-nav fixed-top" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" routerLink="../home"><strong>Barrows</strong></a> 
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
             <!--Client dropdown-->
             <div class="btn-group" mdbDropdown>
                <a mdbDropdownToggle type="button" mdbBtn color="dark" class="dropdown-toggle waves-light"
                  mdbWavesEffect>
                  Client
                </a>
              
                <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" routerLink="add-client" style="color: grey !important;">Add Clients</a>
                  <a class="dropdown-item" routerLink="listing-client" style="color: grey !important;">Listing of Clients</a>
                </div>
              </div>
              <!--Project dropdown-->
              <div class="btn-group" mdbDropdown >
                <a mdbDropdownToggle type="button" mdbBtn color="dark" class="dropdown-toggle waves-light "
                  mdbWavesEffect>
                  Project
                </a>
              
                <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item" routerLink="add-project" style="color: grey !important;">Add Projects</a>
                  <a class="dropdown-item" routerLink="listing-project" style="color: grey !important;">Listing of Projects</a>
                </div>
              </div>
        </ul>

        <ul class="navbar-nav nav-flex-icons">
                 <!-- Dark/Light theme switch -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input"  id="customSwitches" [ngClass]="{customSwitches: theme == 'bootstrap'}" (click)="toggleTheme()">
                    <label class="custom-control-label white-text" for="customSwitches">Dark mode</label>
                </div>
        </ul>
    </links>
</mdb-navbar>
</div>
<router-outlet></router-outlet>