<div class="card">
    <div class="card-header"></div>
    <div class="body">
        <!-- Default form contact -->
        <form class="text-center border border-light p-5 " [formGroup]="clientForm">

        <p *ngIf="isAddMode" class="h4 mb-4">Add New Client</p>
        <p *ngIf="!isAddMode" class="h4 mb-4">Edit Client</p>
    
        <!-- Client Name -->
        <div class="md-form">
            <input mdbInput mdbValidate
            type="text" id="form1" class="form-control" formControlName="client_name">
            <label for="form1" class="">Client Name</label>
            <mdb-error *ngIf="clientName.invalid && (clientName.dirty || clientName.touched)">This is a required field</mdb-error>
          </div>

        <!-- Client Address -->
        <div class="md-form">
            <input mdbInput mdbValidate
            type="text" id="form2" class="form-control" formControlName="client_address">
            <label for="form2" class="">Client Address <Address></Address></label>
            <mdb-error *ngIf="clientAddress.invalid && (clientAddress.dirty || clientAddress.touched)">This is a required field</mdb-error>
          </div>
    
        <!-- Save and Cancel button -->
        <div class="form-group">
            <button mdbBtn color="black" class="mdb-color white-text" block="true" type="submit" (click)="saveClient()" [disabled]="!clientForm.valid">
              Save
            </button>
            <a routerLink="/home" class="btn btn-sm btn-primary btn-link">Cancel</a>
        </div>
    </form>
  
    </div>
</div>
