
<table  class="center" mdbTable bordered="true"  hover="true">
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let list of listing">
      <th scope="row"><span>{{list.id}}</span></th>
      <td><span>{{list.client_name}}</span></td>
      <td><span>{{list.client_address}}</span></td>
      <td>
        <a routerLink="../edit-client/{{list.id}}" class="btn btn-sm btn-primary">Edit</a>
        <button class="btn btn-sm btn-danger" (click)="deleteClient(list.id)"><span>Delete</span></button>
      </td>
    </tr>
  </tbody>
</table>