<div class="card">
    <div class="card-header"></div>
    <div class="body">
        <!-- Default form contact -->
        <form class="text-center border border-light p-5 "[formGroup]="projectForm">

        <p *ngIf="isAddMode" class="h4 mb-4">Add New Project</p>
        <p *ngIf="!isAddMode" class="h4 mb-4">Edit Project</p>

        <!-- Project Decription -->
        <div class="md-form">
            <input mdbInput mdbValidate
             type="text" id="form1" class="form-control" formControlName="project_desc" required>
            <label for="form1" class="">Project Description</label>
            <mdb-error *ngIf="projectDescription.invalid && (projectDescription.dirty || projectDescription.touched)">This is a required field</mdb-error>
        </div>

        

        <!-- Project Client -->
        <div class="md-form">
            <label for="clientOptions" >Client Name</label>
            <br><br>
            <select  mdbValidate class="browser-default custom-select" id="client_id" formControlName="client_id" required>
            <option *ngFor="let list of listing; let i = index" [value]="listing[i].id">
                {{listing[i].client_name}}
            </option>
            </select>
        </div>
        
        <!-- Send button -->
        <div class="form-group">
            <button mdbBtn color="black" class="mdb-color white-text" block="true" type="submit" (click)="saveProject()"  [disabled]="!projectForm.valid">
                Save
            </button>
            <a routerLink="/home" class="btn btn-sm btn-primary btn-link">Cancel</a> 
        </div>
    </form>
  
    </div>
</div>
