<!-- Default form login -->
<form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="login()">

    <p class="h4 mb-4">Sign in</p>
  
    <!-- Username -->
    <input type="text" id="defaultLoginFormText" class="form-control mb-4" placeholder="Username" formControlName="username" required>
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" formControlName="password" required>
  
    <!-- Sign in button -->
    <button mdbBtn color="dark" class="mdb-color white-text" block="true" class="my-4" type="submit" [disabled]="loginForm.invalid && loginForm.touched ">
      Sign in
    </button>
  
  </form>
  <!-- Default form login -->